.parent {
  width: 600px;
}

.operation-container {
  display: flex;
  justify-content: space-around;

  button {
    padding: 10px 30px;
  }
}

.stack {
  display: flex;
  justify-content: space-between;
}
