.autocompleteParent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.autocompleteContainer {
  width: 400px;
  margin-left: 200px;
  display: flex;
}

.option {
  padding: 10px;
}

.option:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.optionsParent {
  border: 1px solid lightgray;
  border-radius: 0px 0px 8px 8px;
}

.option:hover {
  background-color: lightgray;
  cursor: pointer;
}
